/* PingFang SC Regular */
@font-face {
	font-family: "PFR";
	src: url("../fonts/PingFang Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
}

body,
html {
	background-color: rgba(236, 240, 241, 1);
}

body::-webkit-scrollbar {
	display: none;
}

.L-to-a {
	height: 40px;
	position: absolute;
	top: 0;
	padding: 0 20px;
	text-decoration: none;
	color: #2ECC71;
	font-family: "PFR";
	font-size: 22px;
	line-height: 40px;
	text-align: center;
}

.L-to-index {
	left: 0;
	width: 100px;
}
