.L-to-code {
	top: 0;
	right: 0;
}

.L-to-bclock {
	right: 0;
}

.L-to-d3js {
	top: 40px;
	right: 0;
}

.word {
	width: 100%;
	position: absolute;
	font-family: "PFR";
	font-size: 30px;
	color: #2ECC71;
	text-align: center;
}

.myword {
	top: 35%;
}

.sjword {
	top: 40%;
}

.fake {
	width: 100%;
	height: 1000px;
}
