.pt-page {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.L-mid-faith {
	/* 为了追求视觉上的的舒服我稍微调整了一下位置，就酱儿 */
	position: relative;
	bottom: 8rem;
	font-family: "PFR";
	font-size: 2.8rem;
	color: #2ECC71;
}
